$styles: (
  // display
  '.d-none': (
    display: none
  ),
  '.d-inline': (
    display: inline
  ),
  '.d-inline-block': (
    display: inline-block
  ),
  '.d-block': (
    display: block
  ),
  '.d-flex': (
    display: flex,
  ),
  '.d-inline-flex': (
    display: inline-flex,
  ),
);

@include generate_styles( $styles );
