$styles: (
  // display
  '.flex': (
    display: flex,
  ),
  '.inline-flex': (
    display: inline-flex,
  ),
  '.display-none': (
    display: none
  ),
  '.block': (
    display: block
  ),
  '.inline': (
    display: inline
  ),
  '.inline-block': (
    display: inline-block
  ),
);

@include generate_styles( $styles );
