$styles: (
  '.m-05': (
    'margin': 0.5rem
  ),
  '.mt-05': (
    'margin-top': 0.5rem
  ),
  '.mr-05': (
    'margin-right': 0.5rem
  ),
  '.mb-05': (
    'margin-bottom': 0.5rem
  ),
  '.ml-05': (
    'margin-left': 0.5rem
  ),
  '.mx-05': (
    'margin-left': 0.5rem,
    'margin-right': 0.5rem
  ),
  '.my-05': (
    'margin-top': 0.5rem,
    'margin-bottom': 0.5rem
  )
);

@function merge_styles($map) {
  $result: $map;
  @for $i from 0 through $grid-columns {
    $s: (
      '.m-'+$i: (
        'margin': $i+'rem'
      ),
      '.mt-'+$i: (
        'margin-top': $i+'rem'
      ),
      '.mr-'+$i: (
        'margin-right': $i+'rem'
      ),
      '.mb-'+$i: (
        'margin-bottom': $i+'rem'
      ),
      '.ml-'+$i: (
        'margin-left': $i+'rem'
      ),
      '.mx-'+$i: (
        'margin-left': $i+'rem',
        'margin-right': $i+'rem'
      ),
      '.my-'+$i: (
        'margin-top': $i+'rem',
        'margin-bottom': $i+'rem'
      )
    );

    $result: map-merge($result, $s);
  }
  @return $result;
}

@include generate_styles(merge_styles($styles));
