button {
  display: inline-block;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  background: none;
  > * {
    pointer-events: none;
  }
}

.btn {
  @extend button;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  text-transform: uppercase;
  line-height: (22 / 16);
  padding: font_size_rem(14px) font_size_rem(14px);
  min-width: 180px;
  @include minMedia(md) {
    min-width: 0;
    padding: font_size_rem(14px) font_size_rem(32px);
  }

  .icon {
    line-height: 1;
    display: inline-block;
  }

  .btn--icon {
    display: inline-flex;
    align-items: center;
  }

  &--transparent{
    text-transform: uppercase;
    color: $btn-transparent-text-color;
    border-color: $btn-transparent-border-color;
    transition: .3s;
    &:hover{
      color: $btn-transparent-text-color-hover;
      background: $btn-transparent-background-color-hover;
      border-color: $btn-transparent-border-color-hover;
    }
    &:active{
      color: $btn-transparent-text-color-active;
      background: $btn-transparent-background-color-active;
      border-color: $btn-transparent-border-color-active;
    }
  }

  &--secondary{
    color: $btn-secondary-text-color;
    background: $btn-secondary-background-color;
    border-color: $btn-secondary-border-color;
    transition: .3s;
    &:hover{
      background: $btn-secondary-background-color-hover;
      color: $btn-secondary-text-color-hover;
      border-color: $btn-secondary-border-color-hover;
    }
    &:active{
      background: $btn-secondary-background-color-active;
      color: $btn-secondary-text-color-active;
      border-color: $btn-secondary-border-color-active;
    }
  }

  &--brand,
  &-primary {
    color: $btn-brand-text-color;
    background: $btn-brand-background-color;
    border-color: $btn-brand-border-color;
    transition: 0.3s;
    &:hover {
      background: $btn-brand-background-color-active;
      color: $btn-brand-text-color-active;
      border-color: $btn-brand-border-color-active;
    }
    &:active {
      background: $btn-brand-background-color-active;
      color: $btn-brand-text-color-active;
      border-color: $btn-brand-border-color-active;
    }
  }

  &--underline{
    position: relative;
    padding: 0;
    border: 0;
    text-decoration: underline;
    display: inline-block;
    &:active{
      top: 1px;
    }
  }
}
