header.header
    .container
        .row
            .col-md-6
                img(
                    src=require("images/webpack.png?size=200").src
                    srcset=require("images/webpack.png?size=400").src+' 2x'
                    alt="webpack"
                 )
            .col-md-6
