<div class="modal modal--default" id="modal">
  <button data-toggle="modal-close" class="modal__close">Close</button>
  <div class="modal__inner">
    <p class="modal__title mt-0">Title</p>
    <p class="modal__subtitle">Subtitle</p>
    <p class="text--center">This is modal body</p>
  </div>
</div>

<div class="modal modal--default" id="modal-2">
  <div class="modal__inner">
    <button data-toggle="modal-close" class="modal__close">Close</button>
    <p class="modal__title mt-0">Fill the form !</p>
    <form action="/">
      <div class="form-field"><input name="name" type="text" placeholder="Name"></div>
      <div class="form-field"><input name="email" type="email" placeholder="Email"></div>
      <div class="form-field">
        <button class="btn btn--brand">Submit</button>
      </div>
    </form>
  </div>
</div>
