<div class="container">
  <div class="row">
    <div class="col-12 text--center">
      <h1>Welcome</h1><br>
      <img src="{{image 'webpack.png'}}"
           alt="webpack"><br>

      <img src="~images/webpack.png"
           alt="webpack">
    </div>
  </div>
</div>
