// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", sans-serif !default;

$base-font-size: 16px !default;
$sm-font-size: 14px !default;

$base-line-height: 1.375 !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

// Bootstrap Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1420px,
) !default;

// Bootstrap container width
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1420px,
) !default;

// Bootstrap columns count
$grid-columns: 12 !default;
// Bootstrap space between columns
$grid-gutter-width-base: 20px !default;
$grid-gutter-width: 20px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base,
  xxl: $grid-gutter-width-base,
) !default;

$media-classname-separator: \@;

// Grid column gap
// Column padding-left-right, Row margin-left-right,
// container-fluid padding-left-right, Container padding-left-right
$grid-col-gap: 10px;

$font-weight: (
  "light": 300,
  "regular": 400,
  "normal": 400,
  "semibold": 600,
  "bold": 700,
);

$brand: #EF7D00 !default;

/********
  Text color values
 *******/
$text-color: (
  "primary": #000,
  "secondary": #6A6A6A,
  "accent": $brand,
  "brand": $brand,
  "header": #76001d,
  "error": #ff0000,
  "footer": #fff,
  "header-top": #fff,
) !default;

/********
  Background color values
 *******/
$theme-color: (
  "primary": #fff,
  "secondary": #F6F6F6,
  "body": #fff,
  "brand": $brand,
  "brand-gradient": $brand,
  "footer": #363538,
  "header-top": #363538,
) !default;

/********
  Button values
*******/
@import "color-scheme/button-color-scheme";

/********
  Margin spacing values
 *******/
@import "spacing/margin-spacing-values";

/********
  Padding spacing values
 *******/
@import "spacing/padding-spacing-values";
