@import "typography";
*{
  outline: none;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
.block-image{
  display: block;
}
a{
  color: inherit;
  text-decoration: none;
}
body{
  background: theme_color('body');
}
.section{
  padding: 1em 0;
  @include minMedia(992){
    padding: 2em 0;
  }
}
.input-error{
  display: none;
}
.pointer{
  cursor: pointer;
}

.inline-block{
  display: inline-block;
}
.page-wrap{
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

p, li{
  margin: 0.5em 0;
}

.svg-default{
  vertical-align: middle;
  line-height: 1;
}
